body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: #ccc;
  height: 30px;
  width: 400px;
}

input:hover {
  border-color: #999;
}

input:focus {
  border-color: #2684ff;
  background-clip: padding-box;
}
